<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer 2</title>
</head>
<body>
<div id="div1">
    <div>
        <div>
            <div>

                <div>
                    <div>
                        <div>
                            <div>
                                <h1 id="h1a" name="wut1">sta je ovo 1</h1>
                            </div>
                            <div>
                                <h1 id="h1b" name="wut2">sta je ovo 2</h1>
                            </div>
                            <div>
                                <h1 id="h1c" name="wut3">sta je ovo 3</h1>
                            </div>
                            <div>
                                <h1 id="h1d" name="wut4">sta je ovo 4</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
        </div>

    </div>
    <div>
        <p name="ovo ono"></p>
        <p name="sta je koje" value="123x45" size="kokoska"></p>
    </div>
    <div>

    </div>
    <div>
        <p name="ovo onox2"></p>
        <p>qw das qw ads </p>
        <p>wqe asd </p>
        <p> wqeasd </p>
        <p>qwe asd</p>
        <p>qwe sad </p>

    </div>

</div>
<div id="div2">
    <div>
        <div>
            <h1>zxcqwe</h1>
            <h2> asd</h2>
            <h3>zx </h3>
            <h4> wqe</h4>
            <h5> qwesad </h5>
        </div>
         <div>
             <a href="abc.com" name="wwwq" id="a1">ovo je link</a>
             <p>qweasd</p>
        </div>
        <div>

        </div>
        <div>

        </div>

    </div>
    <div>
        <div>

        </div>
         <div>

        </div>
        <div>

        </div>
        <div>

        </div>

    </div>
    <div>
        <h1 name="ovo je h1" size="15xxwasd">asldkjaskl</h1>
        <h2 name="ovo je h2"> sakldjaskldj kals</h2>
        <h3 name="ovo je h3"></h3>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div></div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <h1>zxcqwe</h1>
            <h2> asd</h2>
            <h3>zx </h3>
            <h4> wqe</h4>
            <h5> qwesad </h5>
        </div>
         <div>
             <a href="abc.com" name="wwwq" id="a1">ovo je link</a>
             <p>qweasd</p>
        </div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>

</div>
<div id="div3">

</div>
<div id="div4">


</div>
<div id="div5">


</div>

</body>
</html>