<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer1</title>
</head>
<body>
<div naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
    <div>
        <h1 id="1">
            asd
        </h1>
        <h1 id="2" naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
            qweqwe
        </h1>
    </div>
    <div>
        <table naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
            <tr naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
                <td naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
                    zxc
                </td>
                <td>
                    zxc
                </td>
            </tr>
            <tr>
                <td naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
                    zxc
                </td>
                <td>
                    zxc
                </td>
            </tr>
        </table>
        <h3 naslov="asdasdqweqwe" sta="qweqweqwe" nesto="zxczxczxczxc" ovo="12312asdasd">
            qweqwe
        </h3>

    </div>
</div>
</body>
</html>